name: John Sandsjö Group 5 - main workflow

#pipeline starts at push
on:
  push:
    branches:
      - main

  #pipeline can be started manually
  workflow_dispatch:

jobs:
  test:
  #---------------------------------------------------------------------------------------------------------
  #------------------------------------TEST RUN ------------------------------------------------------------
  #---------------------------------------------------------------------------------------------------------
    runs-on: ubuntu-latest
    
    env:
      TEST_LOG_DIR: "test_run_failures"
      TEST_LOG_FILE: "test_${{ github.job }}.txt"
      
    steps:
    - name: Checkout repo code
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install pytest
      run: pip install pytest
    - name: Run pytest
      run: pytest # pytest command finds and execute files starting with 'test_'

    - name: Creating and uploading test run metadata file
      run: |    
        # Creating folder (idempotent)
        mkdir -p "$ {{env.METADATA_DIR}} "
          
        # Adding metadata to file structured data to the file
          cat >
            "test_id": "test_${{ github.run_id }}",
            "branch": "${{ github.ref_name }}",
            "actor": "${{ github.actor }}",
            "repository": "${{ github.repository }}",
            "timestamp": "$(date -u +'%Y-%m-%dT%H:%M:%SZ')"

    - uses: actions/upload-artifact@v4
      with:
        # Name of test artifact to upload
        name: "${{ env.METADATA_FILE}}"
        # A file, directory or wildcard pattern that describes what to upload
        path: "$ {{env.METADATA_DIR/env.METADATA_FILE}}"

    - name: Very list fo files in folder
      run: ls -l



#vara tydliga namngivningar för bland annat workflows, jobs och steps.
#2. Användning av environment-variabler, GitHub-kontextvariabler och GitHub Secrets (till exempel, API-nycklar och Docker-credentials).
#3. Logik och beroenden (användning av needs och if-satser) ska användas i pipelinen.
#parameter för att logga fel:
#  a. Om parametern är satt till true och testerna misslyckas, ska en logg-error artefakt genereras.
#  b. Om parametern är satt till false, skapas ingen loggfil, oavsett testresultat.
#5. När alla tester är godkända ska pipelinen:
#  a. Skapa en Docker-image av applikationen.
#  b. Publicera Docker-imagen på DockerHub som är kopplad till en Azure-app service (med användning av Azure-credentials).
