name: John Sandsjö Group 5 - main workflow

#pipeline starts at push
on:
  push:
    branches:
      - main

  #pipeline can be started manually
  workflow_dispatch:

env:
  OPEN_API_KEY: ${{ secrets.OPEN_API_KEY }}

jobs:
  test:
  #---------------------------------------------------------------------------------------------------------
  #------------------------------------TEST RUN ------------------------------------------------------------
  #---------------------------------------------------------------------------------------------------------
    runs-on: ubuntu-latest
    
    env:
      TEST_LOG_DIR: "test_run_failures"
      TEST_LOG_FILE: "test_${{ github.job }}.txt"
      
    steps:
    - name: Checkout repo code
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install pytest and other dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      
    - name: Run pytest
      run: |
        # making sure pytest finds the root and path to weather_app
        export PYTHONPATH=$PYTHONPATH:./ 
        # pytest command finds and execute files starting with 'test_' and save results to a xml file
        # pytest --junitxml=test_run_results.xml
        pytest --tee console_output.txt

    #- name: Upload Test Report Artifact
     # uses: actions/upload-artifact@v4
      #with:
       # name: pytest-junit-report
        #path: results.xml # Path to the file created in the previous step


#vara tydliga namngivningar för bland annat workflows, jobs och steps.
#2. Användning av environment-variabler, GitHub-kontextvariabler och GitHub Secrets (till exempel, API-nycklar och Docker-credentials).
#3. Logik och beroenden (användning av needs och if-satser) ska användas i pipelinen.
#parameter för att logga fel:
#  a. Om parametern är satt till true och testerna misslyckas, ska en logg-error artefakt genereras.
#  b. Om parametern är satt till false, skapas ingen loggfil, oavsett testresultat.
#5. När alla tester är godkända ska pipelinen:
#  a. Skapa en Docker-image av applikationen.
#  b. Publicera Docker-imagen på DockerHub som är kopplad till en Azure-app service (med användning av Azure-credentials).
