name: Mohammad Hassan-g5 CI/CD Pipeline
on:
  push:
    branches:
      - MHassan5

  workflow_dispatch:
    inputs:
      run_tests:
          description: 'If true, failed tests will be saved a log file. If false, no report generated'
          type: boolean
          required: true
          default: true
env:
  SECRET: ${{ secrets.SECRET}}

jobs:
  test_job:
    name: "Job #1 - Tests"
    #-----------------------------------------------------------------------------

    #----------------------------JOB #1 - TEST RUN ---------------------------------
    #---
    #
    runs-on: ubuntu-latest
    outputs:
       test_passed: ${{ steps.pytest.outcome }}


    steps:
      - name: Checkout repo code
        uses: actions/checkout@v4


      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
        python-version: '3.11'


      - name: Install pytest and other dependencies
        run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt


      - name: Run pytest
        id: pytest
        continue-on-error: true
        run: |
        # making sure pytest finds the root and path to weather_app
         export PYTHONPATH=$PYTHONPATH:./ 
         pytest --junitxml=reporty.xml


      - name: Print test result
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.run_tests == 'true' && steps.pytest.outcome == 'failure' }}
        run: |
         echo "Test failed, generating report"
         #create a folder to save the reports (idempotent with -p)
         mkdir -p test_reports_dir
         #move the pytest xml report to the created folder
         if [ -f reporty.xml ]; then
          mv reporty.xml test_reports_dir/
         else
          echo "reporty.xml not found."
         fi

      - name: Upload Test Report Artifact
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.run_tests == 'true' && steps.test.outcome == 'failure' }}
        uses: actions/upload-artifact@v4  # v3
        with:
          name: pytest-report
          path: test_reports_dir/reporty.xml
          retention-days: 5
    


  build_and_push_job:
    name: "Job #2 - Build and Push Docker Image  to Docker Hub"
    #----------------------------------------------------------------------------------
    #------------------------JOB #2 - Build and Push to Docker Hub --------------------
    #----------------------------------------------------------------------------------

    
    runs-on: ubuntu-latest
    # custom condition to run this job only if tests passed
    if: ${{ needs.test_job.outputs.test_passed == 'success' }}
    needs: test_job

    env:
      DOCKER_IMAGE: wafeemohammad/weather_app
      DOCKER_PATH: ./dockerfile
    

    steps:
     - name: Checkout repo code
       uses: actions/checkout@v4

     - name: Log in to Docker Hub
       uses: docker/login-action@v3
       with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
     - name: Set up Docker Buildx
       uses: docker/setup-buildx-action@v3

     - name: Build and Push Docker Image
    #This step builds and pushes the Docker image to Docker Hub
       uses: docker/build-push-action@v5
       with:
        context: . # Path to where dockerfile is (build context)
        file: ${{ env.DOCKER_PATH }}

        push: true # flag to tell the action to push the image to Docker Hub
        tags: ${{ env.DOCKER_IMAGE }}:latest #hardcoded tag 'latest' for simplicity
